<div class=" {{ 'direction' | translate }}">
    <div [formGroup]="settingForm" class="row arabicList g-0 mt-2">
        <div class="input-wrapper-start position-relative" [ngClass]="currentLang === 'ar' ? 'rtl' : 'ltr'">
            <span class="input-prefix">{{ filterSelected | translate }} </span>
            <input type="text" class="form-control {{ 'direction' | translate }}" formControlName="searchInput"
                [placeholder]="currentLang == 'ar' ? 'ابحث ...' : 'Search ...'" (input)="onSearchChange()" />
        </div>
    </div>
    <div *ngIf="filteredArr.length > 0" #dropdownRef class="{{ 'direction' | translate}}">
        <ul class="dropdown-menu show  ">
            <li *ngFor="let item of filteredArr" class="dropdown-item filterItem cursor {{'textAlign' | translate}}"
                (click)="selectItem(item)">
                <span *ngIf="filterSelected == 'all' || filterSelected == 'id'">{{ item.id
                    }}</span>
                <span *ngIf="filterSelected == 'all'"> - </span>
                <span *ngIf="filterSelected == 'all' || filterSelected == 'name'"> {{
                    currentLang === 'ar' ? item.nameAr : item.nameEn }} </span>
            </li>
        </ul>
    </div>

    <app-filter-toolbar [filterSelected]="filterSelected" (onFilterClicked)="filterClicked($event)"
        (onGroupBy)="groupBy($event)">
    </app-filter-toolbar>


    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4>{{ 'Dashboard.جنسيات' | translate }}</h4>
        <button (click)="openModal()" class="btn btn-success mt-2 btnDelete">
            <span>
                {{ 'NATIONALITIES.AddNew' | translate }}
            </span>
        </button>
    </div>

    <div class="table-responsive">
        <table class="table-bordered table-info mt-2 mb-2" style="width: 100%;">
            <thead class="border border-info bg-primary-subtle">
                <th class="w-70px"></th>
                <th class=" py-3 w-150px englishFont fw-normal">{{'action' | translate}}</th>
                <th class=" py-3 w-150px englishFont fw-normal">{{'id' | translate}}</th>
                <th class=" py-3 englishFont fw-normal">{{'name' | translate}}</th>
            </thead>
            <tbody>
                <tr *ngIf="Nationalities.length == 0" class="text-center">
                    <td colspan="4" class="te">
                        {{ 'page.لا_يوجد_بيانات_متاحة'| translate }}
                    </td>
                </tr>
                <tr
                    *ngFor="let item of Nationalities | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; let i = index">

                    <td class="">
                        <label class="cyberpunk-checkbox-label">
                            <input [(ngModel)]="item.checked" type="checkbox" class="cyberpunk-checkbox">
                        </label>
                    </td>
                    <td class="py-3">
                        <button class="border-0 bg-transparent" (click)="confirmDelete(item.id)">
                            <i class="fa-solid fa-trash fa-2x red cursor"></i>
                        </button>
                        &nbsp;
                        <button class="border-0 bg-transparent" (click)="getUpdateData(item)">
                            <i class="fa-solid fa-pen-to-square fa-2x orange cursor" data-bs-toggle="modal"
                                data-bs-target="#exampleModal"></i>
                        </button>
                    </td>
                    <td class=" py-3 ">
                        <p class="my-0  fw-normal">{{item.id}} </p>
                    </td>
                    <td class=" py-3">
                        <p class="my-0 mx-auto fw-normal">
                            {{ currentLang == 'ar' ? item.nameAr : item.nameEn }}
                        </p>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>

    <!-- Pagination Controls -->
    <pagination-controls  [previousLabel]="('PAGINATION.PREVIOUS' | translate)"
        [nextLabel]="('PAGINATION.NEXT' | translate)" [directionLinks]="true" [autoHide]="true" (pageChange)="currentPage = $event"
        [responsive]="true" class="text-center">
    </pagination-controls>
</div>


<app-add-edit [configurationName]="configurationName" [NameAr]="NameAr" [NameEn]="NameEn" [addOrEdit]="addOrEdit"
    [configurationForm]="configurationForm" [textError]="textError" [wrongError]="wrongError" [submited]="submited"
    (submit)="addEdit()"></app-add-edit>