<section class="bg-white min-vh-100 overflow-hidden">
    <app-admin-nav></app-admin-nav>
    <app-fake-nav></app-fake-nav>
    <div id="wrapper">
        <aside id="sidebar-wrapper" [style.background]="color">
            <div class="sidebar-brand">
                <h2>
                    {{ 'Configuration' | translate }}
                    <i class="fa-solid fa-gear"></i>
                </h2>
            </div>
            <ul class="sidebar-nav">
                <!-- <li class="text-white cursor">
                <p (click)="selectColor = !selectColor">
                    <span  *ngIf="selectColor" >
                        <i class="fa fa-angle-down"></i>
                    </span>
                    <span  *ngIf="!selectColor">
                        <i class="fa fa-angle-right"></i>
                    </span>
                    Custome Color 
                </p>
            </li>
            <color-sketch *ngIf="selectColor" [color]="color" (onChangeComplete)="changeBackground($event)"></color-sketch> -->

                <ng-container *ngFor="let node of treeData">
                    <li>
                        <div (click)="toggleNode(node)" class="text-white cursor">
                            <span *ngIf="node.children?.length">
                                <span *ngIf="node.expanded">
                                    <i class="fa fa-angle-down"></i>
                                </span>
                                <span *ngIf="!node.expanded">
                                    <i class="fa fa-angle-right"></i>
                                </span>
                            </span>
                            {{ currentLang == 'ar' ? node.nameAr : node.nameEn}}
                        </div>

                        <ul *ngIf="node.expanded" style="list-style: none;padding-left: 1.5rem;">
                            <ng-container
                                *ngTemplateOutlet="recursiveTemplate; context: {$implicit: node.children}"></ng-container>
                        </ul>
                    </li>
                </ng-container>
            </ul>
            <ng-template #recursiveTemplate let-children>
                <ng-container *ngFor="let child of children">
                    <li class="mt-1 text-white">
                        <div class="selected cursor" [class]="url.includes(child.url) ? 'activeSelect' :'' "
                             [routerLink]="child.url" 
                            (click)="toggleNode(child, $event)">
                            <span *ngIf="child.children?.length">
                                <span *ngIf="child.expanded">
                                    <i class="fa fa-angle-down"></i>
                                </span>
                                <span *ngIf="!child.expanded">
                                    <i class="fa fa-angle-right"></i>
                                </span>
                            </span>
                                {{ currentLang == 'ar' ? child.nameAr : child.nameEn }}
                        </div>

                        <ul *ngIf="child.expanded && child.children?.length"
                            style="list-style: none; padding-left: 1.5rem;">
                            <ng-container
                                *ngTemplateOutlet="recursiveTemplate; context: {$implicit: child.children}"></ng-container>
                        </ul>
                    </li>
                </ng-container>
            </ng-template>
        </aside>

        <div id="navbar-wrapper">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand" id="sidebar-toggle"><i class="fa fa-bars"></i></a>
                    </div>
                </div>
            </nav>
        </div>

        <section id="content-wrapper">
            <router-outlet></router-outlet>
        </section>
    </div>
</section>