<div class=" {{ 'direction' | translate }}">
    <div [formGroup]="settingForm" class="row arabicList g-0 mt-2">
        <div class="input-wrapper-start position-relative" [ngClass]="currentLang === 'ar' ? 'rtl' : 'ltr'">
            <span class="input-prefix">{{ filterSelected | translate }} </span>
            <input type="text" class="form-control {{ 'direction' | translate }}" formControlName="searchInput"
                [placeholder]="currentLang == 'ar' ? 'ابحث ...' : 'Search ...'" (input)="onSearchChange()" />
        </div>
    </div>
    <div *ngIf="filteredArr.length > 0" #dropdownRef class="{{ 'direction' | translate}}">
        <ul class="dropdown-menu show  ">
            <li *ngFor="let item of filteredArr" class="dropdown-item filterItem cursor {{'textAlign' | translate}}"
                (click)="selectItem(item)">
                <span *ngIf="filterSelected == 'all' || filterSelected == 'id'">{{ item.id
                    }}</span>
                <span *ngIf="filterSelected == 'all'"> - </span>
                <span *ngIf="filterSelected == 'all' || filterSelected == 'name'"> {{
                    currentLang === 'ar' ? item.nameAr : item.nameEn }} </span>
            </li>
        </ul>
    </div>
    <div class="filterIcons mt-2 mb-4 {{'direction' | translate}}">
        <div class="dropdown">
            <button class="dropdown-toggle btnDropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-filter"></i>
                {{ 'filters' | translate}}
            </button>
            <ul class="dropdown-menu">
                <li class="cursor" [ngClass]="filterSelected == 'all' ? 'bg-active' :'' ">
                    <span class="dropdown-item py-2 border-bottom {{ 'textAlign' | translate}}"
                        (click)="filterClicked('all')">
                        {{ 'all' | translate}}
                    </span>
                </li>
                <li class="cursor" [ngClass]="filterSelected == 'name' ? 'bg-active' :'' ">
                    <span class="dropdown-item py-2 border-bottom {{ 'textAlign' | translate}}"
                        (click)="filterClicked('name')">
                        {{ 'name' | translate}}
                    </span>
                </li>
                <li class="cursor" [ngClass]="filterSelected == 'id' ? 'bg-active' :'' ">
                    <span class="dropdown-item py-2 border-bottom {{ 'textAlign' | translate}}"
                        (click)="filterClicked('id')">
                        {{ 'id' | translate}}
                    </span>
                </li>
            </ul>
        </div>

        <div class="dropdown">
            <button class="dropdown-toggle btnDropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-layer-group"></i>
                {{ 'groupBy' | translate}}
            </button>
            <ul class="dropdown-menu">
                <li class="cursor">
                    <span class="dropdown-item py-2 border-bottom {{ 'textAlign' | translate}}"
                        (click)="groupBy('name')">
                        {{ 'name' | translate}}
                    </span>
                </li>
                <li class="cursor">
                    <span class="dropdown-item py-2 border-bottom {{ 'textAlign' | translate}}" (click)="groupBy('id')">
                        {{ 'id' | translate}}
                    </span>
                </li>
            </ul>
        </div>

        <span class="cursor">
            <i class="fa fa-star"></i>
            {{'favorites' | translate}}
        </span>
    </div>




    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4>{{ 'Dashboard.كفلاء' | translate }}</h4>
        <button (click)="resetVar() ; addOrEdit = 'add'" data-bs-toggle="modal" data-bs-target="#exampleModal"
            class="btn btn-success mt-2 btnDelete">
            <span>
                {{ 'KAFILS.AddNew' | translate }}
            </span>
        </button>
    </div>

    <div class="table-responsive">
        <table class="table-bordered table-info mt-2 mb-2" style="width: 100%;">
            <thead class="border border-info bg-primary-subtle">
                <th class="w-70px"></th>
                <th class=" py-3 w-150px englishFont fw-normal">{{'action' | translate}}</th>
                <th class=" py-3 w-150px englishFont fw-normal">{{'id' | translate}}</th>
                <th class=" py-3 englishFont fw-normal">{{'name' | translate}}</th>
            </thead>
            <tbody>
                <tr *ngIf="kafils.length == 0" class="text-center">
                    <td colspan="4" class="te">
                        {{ 'page.لا_يوجد_بيانات_متاحة'| translate }}
                    </td>
                </tr>
                <tr
                    *ngFor="let item of kafils | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; let i = index">

                    <td class="">
                        <label class="cyberpunk-checkbox-label">
                            <input [(ngModel)]="item.checked" type="checkbox" class="cyberpunk-checkbox">
                        </label>
                    </td>
                    <td class="py-3">
                        <button class="border-0 bg-transparent" (click)="confirmDelete(item.id)">
                            <i class="fa-solid fa-trash fa-2x red cursor"></i>
                        </button>
                        &nbsp;
                        <button class="border-0 bg-transparent" (click)="getUpdateData(item)">
                            <i class="fa-solid fa-pen-to-square fa-2x orange cursor" data-bs-toggle="modal"
                                data-bs-target="#exampleModal"></i>
                        </button>
                    </td>
                    <td class=" py-3 ">
                        <p class="my-0  fw-normal">{{item.id}} </p>
                    </td>
                    <td class=" py-3">
                        <p class="my-0 mx-auto fw-normal">
                            {{ currentLang == 'ar' ? item.nameAr : item.nameEn }}
                        </p>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>

    <!-- Pagination Controls -->
    <pagination-controls [directionLinks]="true" [autoHide]="true" (pageChange)="currentPage = $event"
        [responsive]="true" class="text-center">
    </pagination-controls>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <span style="font-weight: bold;">
                        <span *ngIf="addOrEdit == 'add'"> {{ 'add' | translate}} </span>
                        <span *ngIf="addOrEdit == 'edit'"> {{ 'edit' | translate}} </span>
                        {{ configurationName | translate}}
                    </span>
                </h5>
                <button #modalCloseBtn type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>

            <div class="modal-body {{'direction' | translate}}">
                <form [formGroup]="configurationForm" (ngSubmit)="preventDefault()" id="Form" name="form" method="POST"
                    (keydown.enter)="preventDefault()">
                    <div class="col-md-12">
                        <label for="nameAr" class="mb-1">
                            {{ 'nameAr' | translate }}
                        </label>
                        <div class="w-100 mx-auto pb-1 text-center">
                            <input id="nameAr" #detailsInput type="text" class="form-control border-dark"
                                placeholder="{{ 'nameAr' | translate }}" [formControlName]="NameAr">
                        </div>

                        <label for="nameEn" class="mt-2 mb-1">
                            {{ 'nameEn' | translate }}
                        </label>
                        <div class="w-100 mx-auto pb-1 text-center">
                            <input id="nameEn" type="text" class="form-control border-dark"
                                placeholder="{{ 'nameEn' | translate }}" [formControlName]="NameEn">
                        </div>

                        <label for="idNumber" class="mt-2 mb-1">
                            {{ 'Dashboard.رقم_الهوية' | translate }}
                        </label>
                        <div class="w-100 mx-auto pb-1 text-center">
                            <input id="idNumber" type="text" class="form-control border-dark"
                                placeholder="{{ 'Dashboard.رقم_الهوية' | translate }}" formControlName="mobile">
                        </div>

                        <label for="mobile" class="mt-2 mb-1">
                            {{ 'page.رقم_الجوال' | translate }}
                        </label>
                        <div class="w-100 mx-auto pb-1 text-center">
                            <input id="mobile" type="text" class="form-control border-dark"
                                placeholder="{{ 'page.رقم_الجوال' | translate }}" formControlName="idNumber">
                        </div>


                        <div *ngIf="wrongError && submited">
                            <hr>
                            <p class="dontHave text-danger m0">{{ 'unknown_error' | translate }}</p>
                        </div>

                        <div *ngIf="textError !== '' && submited">
                            <hr>
                            <p class="dontHave text-danger m0">{{ textError | translate }}</p>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="addEdit()"
                    [disabled]="configurationForm.invalid">
                    {{ addOrEdit == 'add' ? ('add' | translate) : ('edit' | translate) }}
                </button>
            </div>
        </div>
    </div>
</div>