<div class="sidebar-container" [ngClass]="{'rtl-sidebar': currentLang === 'ar', 'ltr-sidebar': currentLang !== 'ar'}">
  <div class="sidebar">
    <ul>
      <li><a routerLink="/dashboard">{{ 'SIDEBAR.Dashboard' | translate }}</a></li>
      <li><a routerLink="/configuration/companies">{{ 'SIDEBAR.Companies' | translate }}</a></li>
      <li><a routerLink="/branches">{{ 'SIDEBAR.Branches' | translate }}</a></li>
      <li><a routerLink="/nationalities">{{ 'SIDEBAR.Nationalities' | translate }}</a></li>
      <li><a routerLink="/job-titles">{{ 'SIDEBAR.JobTitles' | translate }}</a></li>
    </ul>
  </div>
</div>
